
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div>
    <h4>Programmer and Ironman</h4>
    
    <div><img src="http://mdot.se/wp-content/uploads/2017/01/profil-295x300.jpg" /> </div>
    43 years old, father of two, programmer, diabetic and threefold Ironman. That is me.
</div>
