
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<div>
    My projects are done at my own risk by me, myself and I.
    <ul>
        <li><a href="https://github.com/lilgenRock/lexicon-golf" target="_blank">Awesome Golf Game</a></li>
        <li><a href="https://github.com/lilgenRock/VendingMachine" target="_blank">Awesome Vending Machine</a></li>
        <li><a href="https://github.com/lilgenRock/ArenaFighter" target="_blank">Awesome Arena Fighter</a></li>
    </ul>
</div>
